<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"/>
    <script>
      window.pageConfig = {
        title:'木兰花乡智慧农业大数据检测中心',
        gdkey:'9fc27ac1a7a356bcca532de7d5b080ae',
        
      };
      window._get_ = function (variable)
      {
          var query = window.location.search.substring(1);
          var vars = query.split("&");
          for (var i=0;i<vars.length;i++) {
              var pair = vars[i].split("=");
              if(pair[0] == variable){return pair[1];}
          }
          return(false);
      }
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
